# ------------------------------
# Virtual Environment
# ------------------------------
venv/
env/
ENV/

# ------------------------------
# Python Cache
# ------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# ------------------------------
# Build / Distribution
# ------------------------------
build/
dist/
*.egg-info/

# ------------------------------
# Environment variables
# ------------------------------
.env

# ------------------------------
# OS Files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# IDE Settings
# ------------------------------
.vscode/
.idea/